<nav
  class="pagination"
  data-component="pagination"
  aria-label="Pagination"
  hidden
>
</nav>

<script>
  import { initPagination } from './pagination.client.js';

  initPagination(document.querySelector('[data-component="pagination"]'));
</script>
