<div data-component="pagination">
  <div class="placeholder">Pagination</div>
</div>

<script>
  import { initPagination } from './pagination.client.js';

  initPagination(document.querySelector('[data-component="pagination"]'));
</script>
