@use '../../styles/abstracts' as *;

.quote {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  background-color: $color-bg;
  border-radius: $radius-md;

  &__text {
    font-style: italic;
    color: $color-text;
  }

  &__author {
    font-weight: 700;
    color: $color-text-muted;
  }
}
