<figure class="quote" data-component="quote">
  <div class="placeholder">Quote of the day</div>
</figure>

<script>
  import { initQuote } from './quote.client.js';

  initQuote(document.querySelector('[data-component="quote"]'));
</script>
