<section class="hero">
  <div class="container" data-component="hero">
    <div class="placeholder">Hero</div>
  </div>
</section>

<script>
  import { initHero } from './hero.client.js';

  initHero(document.querySelector('[data-component="hero"]'));
</script>
