<div data-component="category-list">
  <div class="placeholder">Category list</div>
</div>

<script>
  import { initCategoryList } from './category-list.client.js';

  initCategoryList(document.querySelector('[data-component="category-list"]'));
</script>
