@use '../abstracts' as *;

.exercises {
  padding-block: 40px;

  &__head {
    margin-bottom: 24px;
  }

  &__body {
    display: grid;
    gap: 24px;

    @include respond($bp-tablet) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      align-items: start;
      gap: 32px;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
