<h2 class="section-title breadcrumb" data-component="breadcrumb">
  <span class="breadcrumb__root">Exercises</span>
</h2>

<script>
  import { initBreadcrumb } from './breadcrumb.client.js';

  initBreadcrumb(document.querySelector('[data-component="breadcrumb"]'));
</script>
