<header class="header">
  <div class="container" data-component="header">
    <div class="placeholder">Header</div>
  </div>
</header>

<script>
  import { initHeader } from './header.client.js';

  initHeader(document.querySelector('[data-component="header"]'));
</script>
