<button
  class="scroll-up"
  data-component="scroll-up"
  type="button"
  aria-label="Scroll to top"
  aria-hidden="true"
  tabindex="-1"
>
  <svg class="scroll-up__icon" viewBox="0 0 32 32" aria-hidden="true">
    <use href="/sprite.svg#icon-arrow"></use>
  </svg>
</button>

<script>
  import { initScrollUp } from './scroll-up.client.js';

  initScrollUp(document.querySelector('[data-component="scroll-up"]'));
</script>
