<footer class="footer">
  <div class="container" data-component="footer">
    <div class="placeholder">Footer</div>
  </div>
</footer>

<script>
  import { initFooter } from './footer.client.js';

  initFooter(document.querySelector('[data-component="footer"]'));
</script>
