---
import { renderSpriteIcon, SPRITE_ICON } from '../../utils/sprite-icon.js';

const searchIcon = renderSpriteIcon(SPRITE_ICON.SEARCH, {
  className: 'search__icon',
  width: 18,
  height: 18,
  stroke: true,
});

const clearIcon = renderSpriteIcon(SPRITE_ICON.CLOSE, {
  className: 'search__icon',
  width: 18,
  height: 18,
  stroke: true,
});
---

<form class="search" data-component="search" role="search" hidden>
  <input
    class="search__input"
    type="search"
    name="keyword"
    placeholder="Search"
    autocomplete="off"
    aria-label="Search exercises by name"
  />
  <button class="search__clear" type="button" aria-label="Clear search" hidden>
    <Fragment set:html={clearIcon} />
  </button>
  <button class="search__submit" type="submit" aria-label="Search">
    <Fragment set:html={searchIcon} />
  </button>
</form>

<script>
  import { initSearch } from './search.client.js';

  initSearch(document.querySelector('[data-component="search"]'));
</script>
