<div data-component="filters">
  <div class="placeholder">Filters</div>
</div>

<script>
  import { initFilters } from './filters.client.js';

  initFilters(document.querySelector('[data-component="filters"]'));
</script>
