<div class="filters" data-component="filters" aria-label="Exercise filters">
</div>

<script>
  import { initFilters } from './filters.client.js';

  initFilters(document.querySelector('[data-component="filters"]'));
</script>
